{% extends "_base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Text to Speech</h2>

          <form action="/" method="post">
            {% csrf_token %}
            <div class="mb-3">
              {{ form.text|as_crispy_field }}
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </form>

          {% if audio_path %}
            <div class="mt-4">
              <h3 class="text-center">Generated Audio</h3>
              <div class="d-flex justify-content-center">
                <audio controls class="mt-3">
                  <source src="{{ MEDIA_URL }}/{{ audio_path }}" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
              </div>
            </div>
          {% endif %}
          
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
